@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&family=IBM+Plex+Sans:wght@400;600&display=swap');

@import './assets/fontawesome/css/all.css';
@import './assets/font_awesome_6_pro/css/all.css';
/* fontawesome */

@import '~perfect-scrollbar';
/* perfect scrollbar */

body {
  margin: 0;
  /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Be Vietnam Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.custom-modal-size .modal-dialog {
  max-width: 90%; /* Điều chỉnh theo ý muốn (ví dụ 90%) */
  width: 80%;     /* Đặt chiều rộng theo tỷ lệ phần trăm hoặc pixel */
  height: 90vh;   /* Đặt chiều cao của modal, có thể là vh (viewport height) */
}